<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CS Project</title>
<link rel="stylesheet" href="stylesheets/all.css">
<link rel="stylesheet" href="stylesheets/ide.css">
