<header>
    <a id="title" href="/"><h2 id="titletext">Bag of Code</h2></a>
    <div id="links">
        <a href="/assignments">Assignments</a>
        <a href="/logout">Logout</a>
    </div>
</header>