input, textarea {
    margin: 5px 0;
}

textarea {
    min-width: 200px;
    min-height: 100px;
}

form {
    margin: 10px 0;
}

legend {
    background: #111;
    color: #fff;
    padding: 5px;
}

.assignment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    background: #eee;
    transition: background-color 200ms;
}

.assignment:hover {
    background: #dfdfdf;
}

.assignment * {
    margin-right: 10px;
}