::-moz-selection {
    color: white;
    background: royalblue;
}
  
::selection {
    color: white;
    background: royalblue;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, b {
    color: #222;
}

p {
    color: #444;
}

a {
    text-decoration: none;
    color: dodgerblue;
}
