body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 0;
}

b {
    color: white;
    font-size: 1.5em;
}

textarea {
    margin-top: 20px;
}

#info {
    text-align: justify;
}

#assignment-title {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#buttons p, #buttons em {
    margin-top: 0;
    margin-bottom: 0;
}

#buttons em {
    margin-right: 10px;
}

#current-mark {
    margin-right: auto;
}

input[type=submit] {
    padding: 5px 10px;
    margin-left: 5px;
}

#text {
    font-family: monospace;
    text-align: left;
    outline: none;
    background: #15171a;
    color: #eee;
    border: 1px solid #060606;
    overflow-y: scroll;
    resize: vertical;
    height: 300px;
}

#back {
    color: #444;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px 8px;
    position: relative;
    top: 55px;
    font-size: 0.75em;
    transition: background-color 200ms;
}

#back:hover {
    background-color: #e5e5e5;
}

form {
    margin: 10px 0;
}
