.assignment {
    transition: background-color 200ms;
    padding: 10px 20px;
    background: #fafafa;
}

.assignment h4 {
    margin-top: 5px;
}

.assignment:hover {
    background: #f6f6f6;
}

#info {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

input[type=submit] {
    padding: 5px 10px;
    margin-left: 5px;
}

#text {
    font-family: monospace;
    text-align: left;
    outline: none;
    background: #15171a;
    color: #eee;
    border: 1px solid #060606;
    overflow-y: scroll;
    resize: vertical;
    height: 300px;
}
