.assignment {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    transition: 200ms background-color;
}

.assignment:hover {
    background-color: #f7f7f7;
}

.assignment h4 {
    margin: 0;
}