<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <div class="content">
        <%- include ("../partials/nav") %>
        <h1>Administration</h1>

        <p>Hello administrator, this is the administration page. Click a link below to see one of the administration sub-pages.</p>

        <ul>
            <li>
                <a href="/admin/assignments">Assignments</a>
            </li>
            <li>
                <a href="/admin/tables">Tables</a>
            </li>
            <li>
                <a href="/admin/classes">Classes</a>
            </li>
        </ul>

    </div>
    <%- include ("../partials/footer") %>
</body>
</html>
 