<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <script defer src="/scripts/code.js"></script>
</head>
<body>
    <h1>Code Editor Demo</h1>
    <div id="ide"><div><br></div></div>
</body>
</html>
