<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <% if (message) { %>
                <p id="message"><%= message %></p>
            <% } %>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <p><a href="/signup">Need to sign up?</a></p>
            <p><a href="/forgot">Forgotten your password?</a></p>
            <p><a href="/change">Want to change your password?</a></p>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
