<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script defer src="/scripts/update.js"></script>
</head>
<body>
    <div class="content">
        <%- include ("../../partials/nav") %>
        <h1>Marks</h1>
        <p id="timer"></p>
        <table id="table"></table>
    <%- include ("../../partials/footer") %>
</body>
</html>
 